* {
    box-sizing: border-box;
}
body {
    font-size: 30px;
    text-align: center;
    margin: 0px;
}
nav {
    background-color: rgb(18, 116, 114);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
}

ul { 
    list-style-type: none;
    margin: 0px;
}
li {
    display: inline;
    padding-right: 30px;
    font-size: 16px;
    color: white;
    font-family: 'Vollkorn', serif;
    text-decoration: none;
}

li a{
    color: white;
    text-decoration: none;
}
li a:hover {
    cursor: pointer;
    color: rgb(236, 218, 113);
}  

header {
    background-image: url(images/hikingtrail2.jpg);
    background-size: cover;
}
h1 {
    padding-top: 20px;
    color: #fdfdfd;
    font-size: 48px;
    font-family: 'Unica One', cursive;
}

h2 {
    background-color: #598381;
    font-size: 33px;
    color: #fdfdfd;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Unica One', cursive;
}
h3 {
    color: #fdfdfd;
    font-size: 30px;
    font-family: 'Unica One', cursive;
}
h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    font-family: 'Unica One', cursive;
}

.headshot {
    border-radius: 200px;
}

#aboutMe {
    text-align: left;
    background-color: #8E936D;
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 20px;
    color: rgb(198, 201, 57);
    padding-left: 20px;
    padding-right: 20px;
    line-height: 150%;
}

.mediGenda {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 400px;
    width: 400px;
}

.costlessCreatives {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 400px;
    width: 450px;
}

.officeScreenShot {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height: 400px;
}

.pickyEats {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 550px;
    height: 400px;
}
#project1 {
    background-color: #8E936D;
    color: #fdfdfd;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Vollkorn', serif;
}

a img:hover {
    border: 5px solid rgb(236, 218, 113);
}
button {
    background-color: #8E936D;
    font-size: 18px;
    font-family: 'Vollkorn', serif;
    border: none;
    padding: 5px;
    line-height: 120%;
}
button a {
    color: white;
    text-decoration: none;
}
footer {
    background-color: #598381;
    color: white;
}
.email {
    margin-top: 10px;
    margin-bottom: 10px;
}
p {
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #08605F;
    font-family: 'Vollkorn', serif;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 150%;
}
p a {
    color: black;
}
a:hover {
    color: rgb(236, 218, 113);
}
.linkedin{
    color: white;
    padding-right: 15px;
}
.github{
    color: white;
}

<<<<<<< HEAD
.repo {
    padding-bottom: 20px;
}

@media screen and (max-width: 620px){
    .pickyEats {
        width: 300px;
        height: 200px;
    }
}

=======
>>>>>>> 5f288792b11392dedd899e5b835a2b843b6a5a0d
@media screen and (min-width: 700px) {
   
    #aboutMe {
        padding-left: 200px;
        padding-right: 200px;
        font-size: 20px;
    }
    #project1 {
        padding-left: 100px;
        padding-right: 100px;
    }
    p {
        font-size: 20px;
    }
    .officeScreenShot {
        width: 550px;
        height: 700px;
    }
<<<<<<< HEAD

=======
>>>>>>> 5f288792b11392dedd899e5b835a2b843b6a5a0d
}

@media screen and (min-width: 1110px) {
    #project1 {
        padding-left: 300px;
        padding-right: 300px;
    }
}
